const menu-back-ground-color :antiquewhite

.mainRow {
    display: ltr;
    position: absolute;

}

.specificRow {
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    position:relative ;
    width: 100%;
}

.select {
    width: 200px;
}

.checked-icon {
    position: absolute;
    top: 29%;
    left: 30px;
}
.label{
    width: 50%;
    background-color: aliceblue;
    margin: 0;
    padding: 0.7vh 0 0 0 ;
    text-align: center;
    border-radius: 5px;
    border: black solid 0.1px;
}

.dropDown-wrapper{
    border-radius: 5px;
    border: black solid 0.1px;
    width: 50%;
}
.app1{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.app{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: beige;
    width: 100%;
    display: flex;
    height: 100vh;
}


.app-left-menu{
    position: relative;
    background-color: menu-back-ground-color;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10vh 0 0 0;
}
.app-main-menu{
    position: relative;
    background-color: darkgray;
}
.left-menu-options{
    height: 50px;
    background-color: aliceblue;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    margin-left: 0.4vw;
}
.main-body{
    display: flex;
    flex-direction: column;
    width: inherit;
}
.upper-bar{
    background-color:  menu-back-ground-color;
    height: 10vh;
    width: inherit;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin: 2vh 0 0 0;

}
.prev-next-word{
    background-color: menu-back-ground-color;
    height: 10vh;
    width: inherit;
    display: flex;
    place-content: space-evenly;
}
.right-bar{
    width: 10%;
    background-color: menu-back-ground-color;
}
.main-body-title{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: 500;
}
.other-translation{
    display: flex;
    justify-content:space-around;
}
.other-translation-new-word{
    width: 80%;
}
.left-menu{
    overflow: scroll;
    width: 20vw;
    direction: rtl;
}
.save-button{
    display: flex;
    justify-content: center;
}
.choosen-app{
    border: black solid;
}
input[type='file'] {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .upload-button{
    top: 0;
    position: fixed;
    padding-top: 2vh;
    padding-left: 2vw;
  }